<% @coupon = Coupon.find_by_token(params[:token]) %>
<% if @coupon.delivered != nil %>
	<div class="well" id="messages" align="center">
		<h1> Coupon already activated  </h1>
	</div>
<% else %>
<% @coupon.touch(:delivered)%>
	<div class="well" id="messages" align="center">
		<h1> Coupon activated  </h1>
	</div>
<% end %> 