<div class="well" id="messages" align="center">
	<span><img id="bbico", src='/logo.png' /><h1 id="h2icon">Hola</h1></span>
	<h2> Ha sido enviada la informacion de tu cupon al correo <%= @email%></h2>
	<a href="http://www.bbbuy.mx/" id="bblink">BBbuy.mx >></a>
</div>