<div class="well" id="messages" align="center">
	<span><img id="bbico", src='/logo.png' /><h1 id="h2icon">Lo sentimos,</h1></span>
	<h1> Parece que te has perdido, la información que buscas esta en:</h1>
	<a href="http://www.bbbuy.mx/" id="bblink">BBbuy.mx >></a>
</div>